{%- doc -%}
  Renders a skip to content link, visible on focus only.
  Parent element must have position: relative to ensure proper positioning.

  @param {string} href - The URL to skip to, usually an id like "#MainContent".
  @param {string} text - The text to display, in the form of a translation key for a locale file.

  @example
  {% render 'skip-to-content-link', href: '#MainContent', text: 'Skip to main content' %}
{%- enddoc -%}

<a
  class="skip-to-content-link button-secondary"
  href="{{ href }}"
>
  {{ text | t }}
</a>

{% style %}
  .skip-to-content-link {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .skip-to-content-link:focus-visible {
    position: fixed;
    z-index: var(--layer-temporary);
    inset-block-start: var(--margin-lg);
    inset-inline-start: var(--margin-lg);
    overflow: auto;
    width: auto;
    height: auto;
    padding: var(--padding-lg) var(--padding-4xl);
    margin: 0;
    clip: auto;
    clip-path: none;
    white-space: normal;
    background-color: var(--color-background);
    box-shadow: 0 0 0 var(--focus-outline-offset) var(--color-background);
  }

  @supports not selector(:focus-visible) {
    .skip-to-content-link:focus {
      position: fixed;
      z-index: var(--layer-temporary);
      inset-block-start: var(--margin-lg);
      inset-inline-start: var(--margin-lg);
      overflow: auto;
      width: auto;
      height: auto;
      padding: var(--padding-lg) var(--padding-4xl);
      margin: 0;
      clip: auto;
      clip-path: none;
      white-space: normal;
      background-color: var(--color-background);
      box-shadow: 0 0 0 var(--focus-outline-offset) var(--color-background);
    }
  }
{% endstyle %}
